<Context>
    <!-- Database connection -->
    <Resource driverClassName="org.postgresql.Driver"
              maxActive="20"
              maxIdle="2"
              maxWait="5000"
              name="jdbc/CubaDS"
              username="postgres"
              password=""
              type="javax.sql.DataSource"
              url="jdbc:postgresql://postgres:5432/postgres"
              />
    
    <Manager pathname=""/>
</Context>
